<h2>Add News</h2>

<form action="/news" method="POST">
    <label>Article Title</label>
    <input type="text" name="articleTitle"><br>
    <!-- <label>Article Slug</label>
    <input type="text" name="articleSlug"><br> -->
    <label>Article Content</label>
    <input type="text" name="articleContent"><br>
    <button type="submit">Submit</button>
</form>